.product {
  border: 4px solid black;
}

.product-title {
  background-color: #f7f7f7;
}

.add-cart {
  border: none;
  background-color: none;
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}
