body {
  color: #444;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h4,
p,
li,
p {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  color: rgb(43, 14, 14);
  font-size: 60px;
}

h2 {
  color: brown;
  font-size: 30px;
}

h1,
h2 {
  text-transform: uppercase;
  color: #1098ad;
}

h1 {
}

img {
  height: 30%;
  width: 30%;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

h4 {
  text-align: center;
  text-transform: uppercase;
}

li {
  /* line-height: 2; */
  font-size: 17px;
}

footer p {
  font-size: 12px;
}

#author {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}

.title {
  font-family: "Times New Roman", Times, serif;
}

.list {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: red;
}

li:nth-child(2) {
  color: red;
} */

/* ul li:nth-child(even) {
  color: green;
}

article p:first-child {
  color: #1098ad;
}  */

/* style links */

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover,
a:active {
  color: orangered;
  text-decoration: underline;
}

.author-photo {
  width: 50px;
  height: 50px;
}

.author-name {
  font-weight: bold;
}
