/* GENERAL RESET */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 30px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

/* LINK */

.more-info:link,
.more-info:visited {
  display: inline-block;
  margin-bottom: 30px;
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* STYLE COLORS */

.color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.color-corn {
  background-color: cornflowerblue;
}

.color-black {
  background-color: black;
}

.color-crimson {
  background-color: crimson;
}

.color-green {
  background-color: green;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 20px;
}

.details-list li:not(:last-child) {
  margin-bottom: 10px;
}

/* BUTTON */

.add-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 4px solid black;
  padding: 15px 0;
}

.add-cart:hover {
  background-color: white;
  color: black;
}

/* SALE */

.sale {
  background-color: red;
  color: white;
  border: 2px solid black;
  text-transform: uppercase;
  position: absolute;
  top: -15px;
  left: -25px;
  padding: 3px 6px;
  letter-spacing: 1px;
}

/* LAYOUT USING FLOAT */

.product-title {
  margin-bottom: 30px;
}

img {
  float: left;
}

.price-box {
  width: 240px;
  float: left;
  margin-left: 40px;
}

.price {
  float: left;
}

.shipping {
  float: right;
}

.clearfix {
  clear: both;
}

.details-box {
  width: 240px;
  float: right;
}

.details-title {
  margin-top: 0;
}
